﻿<!DOCTYPE html>
<html en-gb xml:lang="en-GB" xmlns="http://www.w3.org/1999/xhtml"
  class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
  lang="">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="p:domain_verify" content="e553c0142172dfd347c8b87db57f718a&quot;">
  <meta name="description"
    content="eDecks.co.uk offers the UK’s widest range of decking &amp; garden products. Order online now &amp; get free home or business delivery on orders over £100.">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="~/css/css.css">
  <link rel="stylesheet" type="text/css" href="~/css/megamenu2018.css" media="screen">
  <link rel="stylesheet" type="text/css" href="~/css/stylenewmega.css">
  <link rel="stylesheet" type="text/css" href="~/css/style.css">
  <link rel="stylesheet" type="text/css" href="~/css/calculator-style.css">
  @RenderSection("Stylesheets", required: false)

  <script src="~/js/megamenu2018.js"></script>
</head>

<body>
  <div>
    <div class="bg_topbar"></div>
    <div id="wrapper">
      <table width="100%">
        <tbody>
          <tr class="TheTopTabs" style="display: block">
            <td colspan="3" height="60">
              <div class="bg_toptabbar">
                <table style="position: fixed; margin-top: 0px;" width="100%">
                  <tbody>
                    <tr>
                      <td align="center">
                        <div class="topTabBar">
                          <ul>
                            <a href="https://www.edecks.co.uk/home">
                              <li class="topTabFavicon" style="margin-top:12px; margin-left:38px;"> </li>
                            </a>
                            <a href="https://www.edecks.co.uk/home">
                              <label>
                                <li class="topTab1" style="margin-top:4px;">
                                  <input type="radio" style="position:absolute; top:-50px" name="Previews"
                                    value="show_eDecks" id="show_eDecks">
                                </li>
                              </label>
                            </a>
                            <a id="ctl00_lnkEroofsHome">
                              <label>
                                <li class="topTab2" style="margin-top:4px;">
                                  <input type="radio" style="position:absolute; top:-50px" name="Previews"
                                    value="show_eRoofs" id="show_eRoofs">
                                </li>
                              </label>
                            </a>
                            <a href="http://esheds.co.uk/" onclick="document.location='https://esheds.co.uk';">
                              <label>
                                <li class="topTab4" style="margin-top:4px;">
                                  <input type="radio" style="position:absolute; top:-50px" name="Previews"
                                    value="show_eSheds" id="show_eSheds">
                                </li>
                              </label>
                            </a>
                            <a href="#" style="position: relative; width: 122px; height: 56px;">
                              <label>
                                <li onclick="openCalc()" style="margin-top:16px; margin-left: 40px;">
                                  <img src="~/media/toptabs_tools_calc2.png" alt="" width="122" height="auto"></li>
                              </label>
                            </a>
                            <li class="basketPreview" style="margin-top:7px; margin-left: 760px; position: absolute;">
                              <table style="padding: 2px; width: 312px;" width="100%">
                                <tbody>
                                  <tr>
                                    <td><a id="ctl00_lnkBasket1" href="https://www.edecks.co.uk/basket">
                                        <img id="basket" src="~/media/icon_basket.png" style="width: 30px;"
                                          alt="Shopping Basket"></a></td>
                                    <td style="width: 10px; border-right: 1px solid #DBDBDB"></td>
                                    <td style="width: 10px; border-left: 1px solid #fff"></td>
                                    <td style="padding-right: 5px;">
                                      <h3>Items</h3>
                                    </td>
                                    <td style="padding: 5px 8px;">
                                      <h2 class="Colour1" style="font-size: 1.8em;">
                                        <span id="lblBasketItems">0</span></h2>
                                    </td>
                                    <td style="width: 10px; border-right: 1px solid #DBDBDB; margin-bottom: 3px;"></td>
                                    <td style="width: 10px; border-left: 1px solid #fff"></td>
                                    <td style="padding-right: 10px; width: 100px;">
                                      <h3>Total<strong> £</strong></h3>
                                    </td>
                                    <td class="basketPrice"><a id="ctl00_lnkBasket2"
                                        href="https://www.edecks.co.uk/basket">
                                        <h2 class="Colour1"
                                          style="font-size: 28px; padding-bottom: 3px; padding-left: 10px; padding-right: 10px;">
                                          <span id="lblBasketTotal">0.00</span></h2>
                                        <h6>BASKET</h6>
                                      </a>
                                    </td>
                                    <td valign="bottom">
                                      <img style="margin-top: 7px;" src="~/media/shadow_topBasket.png"
                                        alt="Shopping Basket" width="28" height="50"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <a class="nav-toggler toggle-push-right2" href="#"> <img id="basket"
                                  style=" position:fixed; margin-top:-48px; right:-10px; z-index:10; display: none;"
                                  src="~/media/tab_basket.png" alt="" width="70" height="46"></a>
                              <a id="ctl00_hypAccount" href="https://www.edecks.co.uk/login">
                              </a>
                            </li>
                            <li class="acclogin"><a id="ctl00_hypAccount" href="https://www.edecks.co.uk/login">
                                <img src="~/media/toptabs_accountlogin.png" alt="" width="55" height="auto">
                                <h6>
                                  <span id="ctl00_lblAccountLoggedOut"></span><span id="ctl00_lblAccountLoggedIn"
                                    class="loggedin"></span><br>
                                </h6>
                              </a></li><a id="ctl00_hypAccount" href="https://www.edecks.co.uk/login">
                            </a>
                            <a href="javascript:hideshow(document.getElementById('customerCarePanel'))">
                            </a>
                            <li class="account icon_custcare"
                              style="position:absolute; margin-top:25px; margin-left:653px; text-align: left;"><a
                                href="javascript:hideshow(document.getElementById('customerCarePanel'))">
                                <img src="~/media/toptabs_customercare.png" alt="" width="55" height="auto">
                              </a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td
              style="background-image: url(~/media/shadow_left.png); min-width: 50px; background-position: right; background-repeat: repeat-y;">
              &nbsp;</td>
            <td style="width: 1077px; background-color: #FFF" valign="top">
              <a href="https://www.edecks.co.uk/home.aspx">
                <div class="sean19_summer"></div>
              </a>
              <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="TheHeader">
                    <td width="100%" valign="top">
                      <div class="headerSection">
                        <table style="margin-top: 20px; position: relative;" width="100%">
                          <tbody>
                            <tr>
                              <td width="40%"><a href="https://www.edecks.co.uk/home"></a>
                                <a href="https://www.edecks.co.uk/home">
                                  <div id="logo-back">
                                    <div id="logo" style="margin-top: 0px;"></div>
                                  </div>
                                </a>
                              </td>
                              <td height="160" valign="top">
                                <table width="98%" height="100%" style="padding-top: 10px;">
                                  <tbody>
                                    <tr>
                                      <td valign="top" colspan="2">
                                        <div style="float: left; padding-left: 110px; margin-top: -8px;">
                                          <span class="noteText"
                                            style="text-transform: lowercase; font-size: 18px; display: none;">For Your
                                            Basket Summary Click Above</span>
                                          <i class="fa fa-hand-o-up"
                                            style="transform: rotate(35deg); display: none;"></i>
                                        </div>
                                        <div>
                                          <img src="~/media/icons-payment-paypal-amz2.png?2"
                                            style="width: 260px; margin-top: 12px; margin-right: 20px;" />
                                          <div style="width: 300px; float: right;">
                                            <div style="width: 111px; height: 30px; float: left; padding-top: 7px;">
                                            </div>
                                            <div style="width: 30px; height: 16px; float: left;">
                                              <a href="https://www.facebook.com/eDecksDecking" target="_blank">
                                                <img src="~/media/icon_fb.png">
                                              </a>
                                            </div>
                                            <div style="width: 30px; height: 16px; float: left;">
                                              <a href="https://twitter.com/edecksdecking"
                                                data-url="http://www.edecks.co.uk" target="_blank"
                                                data-via="edecksdecking" data-hashtags="edecksdecking">
                                                <img src="~/media/icon_tw.png">
                                              </a>
                                            </div>
                                            <div style="width: 30px; height: 16px; float: left;">
                                              <a href="https://uk.pinterest.com/edeckscouk/" target="_blank">
                                                <img src="~/media/icon_pin.png">
                                              </a>
                                            </div>
                                            <div style="width: 30px; height: 16px; float: left;">
                                              <a href="https://www.instagram.com/edecks.co.uk/" target="_blank">
                                                <img src="~/media/icon_insta.png">
                                              </a>
                                            </div>
                                            <div
                                              style="width: 69px; height: 40px; float: left; margin-top: -6px; padding-left: 4px;">
                                              <a href="https://www.edecks.co.uk/blog" target="_blank">
                                                <img src="~/media/dblog.png" alt="eDecks Blog">
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="font-size: 14px;" valign="top">
                                        <table width="90%">
                                          <tbody>
                                            <tr>
                                              <td style="background-color: #eee; padding: 10px; border-radius: 4px;"
                                                valign="top">
                                                <label for="textfield2">
                                                  <h3>Search By
                                                    <span class="Colour1">
                                                      <strong>Keyword:</strong>
                                                    </span>
                                                  </h3>
                                                </label>
                                                <div class="searchHighlight">
                                                  <span class="twitter-typeahead"
                                                    style="position: relative; display: inline-block;"><input
                                                      class="tt-hint" type="text" autocomplete="off" spellcheck="off"
                                                      disabled="disabled"
                                                      style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"><input
                                                      name="ctl00$txtSearch" type="text" maxlength="50" id="txtSearch"
                                                      class="Colour1 tt-query" onkeydown="return verifyKey(event)"
                                                      style="padding: 5px; font-size: 18px; outline-width: 0px; width: 260px; height: 31px; font-weight: bold; background-color: transparent; position: relative; vertical-align: top;"
                                                      autocomplete="off" spellcheck="false" dir="auto"><span
                                                      style="position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: Lato900, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;"></span><span
                                                      class="tt-dropdown-menu"
                                                      style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"></span></span>
                                                  <a id="lnkSearchGo" class="button_size1"
                                                    href="javascript:__doPostBack('ctl00$lnkSearchGo','')"
                                                    style="margin-left: 5px; margin-top: 0px; font-size: 16.8px; width: 60px; z-index: 1; position: absolute; float: right;"><i
                                                      class="fa fa-search fa-1.9x"></i> GO</a>
                                                </div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                      <td width="210" valign="top">
                                        <div
                                          style="position: absolute; width: 200px; height: 100px; border-radius: 5px; border: 2px dashed #35353F; margin-left: 10px; z-index: 1; text-align: center;">
                                          <div id="panVoucherActive" style="padding-top: 7px;">
                                            <div class="voucherDate">08/10/2019</div><br>
                                            <div class="voucherValue">5.00% Off!</div>
                                            <div class="voucherTitle">5OFFCOMP19</div>
                                            <div class="voucherDescription">5% Off Composite Decking!</div>
                                          </div>
                                        </div>
                                        <div class="voucherReveal"
                                          style="position: absolute; width: 200px; height: 100px; border-radius: 5px; border: 2px dashed #35353F; margin-left: 10px; z-index: 2;">
                                          <div class="text">
                                            <img src="~/media/voucher-fronted.png" alt="" width="195">
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div id="sticky" style="text-align: centre">
                          <table style="padding-left: 0px; padding-right: 0px; position: relative;" width="100%">
                            <tbody>
                              <tr>
                                <td style="font-size: 11px;" width="5%">
                                  <div class="yellowNote"
                                    style="padding: 3px; padding-left: 10px; padding-top: 10px; margin-top: -10px; z-index: -110">
                                    <span class="noteText">Autumn Edition</span>
                                  </div>
                                </td>
                                <td width="2%"></td>
                                <td style="font-size: 11px; text-transform: uppercase" width="24%">
                                  <a class="btn" href="" data-popup-open="popup-2">
                                    <i class="fa fa-rocket fa-2x" style="float: left; padding-right: 8px"></i>
                                    <span class="colour1"><strong>48 Hr Express Delivery</strong></span>
                                  </a>
                                  <br>
                                  <span style="font-size: 9px; text-transform: uppercase">AVAILABLE on Lots Of
                                    Products</span>
                                </td>
                                <td style="font-size: 11px; text-transform: uppercase;" width="25%">
                                  <a class="btn" href="" data-popup-open="popup-1">
                                    <i class="fa fa-truck fa-2x" style="float: left; padding-right: 8px"></i>
                                    <span class="colour1"><strong>SUPER FAST Free Delivery</strong></span>
                                  </a>
                                  <br>
                                  <span style="font-size: 9px; text-transform: uppercase">ON Most orders over
                                    £100</span>
                                </td>
                                <td style="font-size: 11px; text-transform: uppercase;" width="19%">
                                  <a class="btn" href="https://www.edecks.co.uk/contact">
                                    <i class="fa fa-envelope fa-2x" style="float: left; padding-right: 8px"></i>
                                    <span class="colour1"><strong>Contact our team</strong></span>
                                  </a>
                                  <br>
                                  <span style="font-size: 9px; text-transform: uppercase">For a FREE quote</span>
                                </td>
                                <td style="font-size: 11px; text-transform: uppercase" width="24%">
                                  <a class="btn" href="" data-popup-open="popup-3">
                                    <i class="fa fa-credit-card fa-2x" style="float: left; padding-right: 8px"></i>
                                    <strong>Instant free credit</strong>
                                  </a>
                                  <br>
                                  <span style="font-size: 9px; text-transform: uppercase"><br>
                                    For Schools, Colleges &amp; More
                                  </span>
                                </td>
                                <td width="5%"></td>
                                <td
                                  style="text-transform: uppercase; white-space: nowrap; padding-right: 10px; font-weight: 900;">
                                  Call Us NATIONAL RATE
                                  <span class="Colour1">
                                    <h4 style="font-size: 1.6em; letter-spacing: -1px;">
                                      <strong>
                                        <i class="fa fa-phone fa-1x"></i>
                                        0844 474 4444
                                      </strong>
                                    </h4>
                                  </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                  <tr class="TheMenu">
                    <td valign="top">
                      <div
                        style="background-image:url(~/media/bg_menu-top.png); margin-left:-10px; padding-right:20px; padding-bottom:0px; padding-top:13px; width: 1111px; background-size: 1111px; background-repeat:no-repeat; position:absolute; padding-left:0px;">
                        <!-- Begin Menu Container -->
                        <div class="megamenu_container megamenu_light_bar megamenu_dark" style="z-index: 99;">
                          <ul class="megamenu" style="background-color: white;">
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Decking</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Timber</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Garden<br>Buildings</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Artificial <br>Grass</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Fencing</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Paving<br>&amp; Aggs </a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Fix</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Build</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Interior</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Garden<br>Extras</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">Samples</a>
                            </li>
                            <li>
                              <a class="megamenu_drop" style="cursor: pointer;">To<br>Clear</a>
                            </li>
                            <li style="float: right;">
                              <div
                                style="width: 159px; height: 87px; float: right; position: absolute; margin-left: -138px; margin-top: -26px; background-image: url(~/media/erlogo.png); cursor: pointer;"
                                onclick="document.location='https://www.eroofs.co.uk/home-er?uqkey=77022062-c979-44d8-b6a3-e220bff11b19';">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="TheBreadCrumb">
                    <td style="height: 100px;" valign="bottom">
                      <ul class="breadcrumb">
                        <li>
                          <i class="fa fa-home"></i>
                          <a href="https://www.edecks.co.uk/home">Home
                          </a>
                        </li>
                        <li>
                          <a href="/">Calculator</a>
                          <div
                            style="font-size: 12px; text-transform: uppercase; padding-right: 10px; float: right; font-weight: 900; display: none;">
                            <div style="float: left; padding: 5px;">
                              <a href="#"><i class="fa fa-bars"></i>
                                Samples </a>
                            </div>
                            <a href="#">
                              <div style="float: left; padding: 5px;"><i class="fa fa-trash fa-1x"></i>CLEARANCE!</div>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <!-- Calculator -->
                  <tr class="mainContent"> 
                    <td width="1077px">
                        @RenderBody()
    </div>
  </div>
  </td>
  </tr>
  <tr
    <!-- footer -->
    <td valign="top">
      <div id="footer"
        style=" text-align: center; padding: 0px; min-height: 0px; background-color: #FFF; width: 100%; margin-top: 5px; border-top: 1px solid #ccc">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td colspan="2" valign="bottom" height="100">
                <table width="100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="display:none; padding-left: 10px;" width="20%" valign="top">

                        <table style="margin-top: -30px;" width="90" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td height="81">
                                <a class="social_fb" href="https://www.facebook.com/eDecksDecking"
                                  target="_blank"></a>&nbsp;
                              </td>
                              <td width="45">
                                <a class="social_twitter" href="https://twitter.com/edecksdecking" target="_blank"></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="fb-recommendations" data-app-id="815919141804641" data-site="www.edecks.co.uk"
                          data-action="likes, recommends" data-height="200" data-colorscheme="light" data-header="true">
                        </div>
                        <div class="fb-recommendations" data-site="edecks.co.uk" data-action="likes, recommends"
                          data-colorscheme="light" data-header="true">
                        </div>
                        <div class="fb-activity" data-site="http://www.edecks.co.uk"
                          data-action="Comma separated list of action of action types" data-width="280"
                          data-height="150" style="border: 5px solid #eeeeee; margin-top: 5px;" data-header="false">
                        </div>
                      </td>
                      <td style="padding-left: 60px; padding-top: 20px;" width="350" valign="top">
                        <span class="edecks_title">
                          <h2>Shop Links</h2>
                        </span>
                        <br>
                        <a href="https://www.edecks.co.uk/bestfor/1/Decking">Decking</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/26/Timber">Timber</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/2/GardenBuildings">Garden Buildings</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/3/Artificial-Grass">Artificial Grass</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/4/Fencing">Fencing</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/39/Paving-Aggs">Paving &amp; Aggs
                        </a><br>
                        <a href="https://www.edecks.co.uk/bestfor/7/Fix">Fix</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/8/Build">Build</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/9/Interior">Interior</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/10/GardenExtras">Garden
                          Extras</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/29/Samples">Samples</a><br>
                        <a href="https://www.edecks.co.uk/bestfor/31/ToClear">To Clear</a><br>
                        <br>
                        <span class="edecks_title"><a href="https://www.edecks.co.uk/newsletter/">Newsletter</a></span>
                        <br>
                        <a href="https://www.edecks.co.uk/newsletter/" class="btn_newsletter"></a>
                      </td>
                      <td style="padding-top: 20px" valign="top">
                        <span class="edecks_title">
                          <h2>Useful Links</h2>
                        </span>
                        <br>
                        <a id="ctl00_lnkAccountLink" href="https://www.edecks.co.uk/account">Your
                          Account<br></a>
                        <a href="https://www.edecks.co.uk/faq/">FAQ
                        </a>
                        <br>
                        <a href="https://www.edecks.co.uk/blog">Blog
                        </a>
                        <br>
                        <a href="https://www.edecks.co.uk/basket/">Your Basket
                          <br>
                        </a>
                        <a href="https://www.edecks.co.uk/about/">About Us</a><br>
                        <a href="https://www.edecks.co.uk/contact/">Contact</a><br>
                        <a href="https://www.edecks.co.uk/terms/">T&amp;C's</a><br>
                        <a href="https://www.edecks.co.uk/privacy/">Privacy Policy</a><br>
                        <a href="https://www.edecks.co.uk/deliveryinfo/">Delivery Info</a><br>
                        <a href="https://www.edecks.co.uk/trackyourorder/">Chase Your Order</a><br>
                        <a href="https://www.edecks.co.uk/customercare/"></a><a
                          href="https://www.edecks.co.uk/customercare/">Customer Care</a><br>
                        <a href="https://www.edecks.co.uk/manuals/">Print Fitting Instructions<br>
                        </a>
                        <a href="https://www.edecks.co.uk/invoicePrint/">Print Invoice</a><br>
                        <a id="ctl00_lnkMobileSite" href="https://www.edecks.co.uk/m/basket">
                          Mobile Friendly Site
                        </a>
                        <br>
                        <a href="https://www.edecks.co.uk/sar">Subject Access Request</a><br>
                        <a href="https://www.edecks.co.uk/projects">Projects</a>
                      </td>
                      <td valign="top"></td>
                      <td rowspan="2" style="padding-top: 20px;" width="250" valign="top">
                        <div>
                          <h2><span class="edecks_title">Basket Summary</span><br>
                            <br>
                          </h2>
                          <table width="210">
                            <tbody>
                              <tr>
                                <td width="80" valign="top"><span
                                    style="font-size: 14px; letter-spacing: -1px; font-weight: bold;">No
                                    Items </span>
                                  <div class="basketItemsClone"
                                    style="font-size: 30px; font-weight: bold; padding: 0px;">
                                    <span id="lblBasketItemsClone">0</span>
                                  </div>
                                </td>
                                <td class="colour1" width="120" valign="top"><span
                                    style="font-size: 14px; letter-spacing: -1px; font-weight: bold;">Total</span>
                                  <div class="basketTotalClone" style="font-size: 30px; font-weight: bold;">£<span
                                      id="lblBasketTotalClone">0.00</span></div>
                                </td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td><a href="https://www.edecks.co.uk/basket">
                                    <div id="button_size1">Go to Basket</div>
                                  </a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <br>
                        <br>
                        <img src="~/media/icons-payment-paypal-amz2.png" alt="PayPal" width="240"><br>
                        <br>
                        <div class="logo" style="width: 150px;"></div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" style="padding-left: 20px;" valign="top">
                        <span style="padding-right: 10px;">
                          <img src="~/media/ed_acceptpaypal.png" alt="we accept paypal" style="display: none;"
                            width="160" height="23"><br>
                          <br>
                        </span>
                        © Copyright eDecks.co.uk 2009 - 2019 All rights reserved.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
  </table>
  </td>
  <td
    style="background-image: url(~/media/shadow_right.png); min-width: 50px; background-position: left; background-repeat: repeat-y">
  </td>
  @RenderSection("Scripts", required: false)
</body>
</html>