@section Scripts {
    <script>
        var boardObject = @Html.Raw(@Model.GetBoardInformation())
        var joistObject = @Html.Raw(@Model.GetJoistInformation())
    </script>
    
    <script type="text/javascript" src="~/js/calculator.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/joistfilter.min.js" asp-append-version="true"></script>
}

<div style="width: 100%;">
    <div id="input-container" class="input-container">
        <form class="calculator-input">
            Length (metres)
            <br><input aria-label="Length in metres" id="length-input" class="length-input" type="text" name="Length"><br> 
            Width (metres)
            <br><input aria-label="Width in metres" id="width-input" class="width-input" type="text" name="Width"><br> 
            
            Joist spacing
            <br>
            <select aria-label="Joist select dropdown" id="joist-input" class="calculator-input dropdown-select"></select>
            <div id="calculator-errors" class="calculator-errors"></div>
        </form>
        <b>Length/Width inputs are rounded up to next 10mm</b>
        
        <br>
        <br>
        
        <b>Larger joist spacings will result in fewer boards</b>
        <br>

        <button id="return" title="Return" onclick="location.href = '/'" class="calculator-button return">Return</button>
        <button title="Submit" onclick="inputSubmit()" class="calculator-button">Submit</button>
    </div>
    <div id="selection-container" class="selection-container">
        <div class="selections">
            <div id="selection-1">
                <div class="top-cover">
                    <button onclick="optionSelect(1)" title="Select" class="option-button">Select</button>
                </div>
                <div class="selection-figures">
                    <table class="selection-table">
                        <thead>
                            <th>Boards</th>
                            <th>Waste (metres)</th>
                        </thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="selection-1-display" class="board-display selection-display">
                    <div class="row-1"></div>
                    <div class="row-2"></div>
                    <div class="row-3"></div>
                </div>
            </div>
            <div id="selection-2">
                <div class="top-cover">
                    <button onclick="optionSelect(2)" class="option-button">Select</button>
                </div>
                <div class="selection-figures">
                    <table class="selection-table">
                        <thead>
                            <th>Boards</th>
                            <th>Waste (metres)</th>
                        </thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="selection-2-display" class="board-display selection-display">
                    <div class="row-1"></div>
                    <div class="row-2"></div>
                    <div class="row-3"></div>
                </div>
            </div>
            <div id="selection-3">
                <div class="top-cover">
                    <button onclick="optionSelect(3)" class="option-button">Select</button>
                </div>
                <div class="selection-figures">
                    <table class="selection-table">
                        <thead>
                            <th>Boards</th>
                            <th>Waste (metres)</th>
                        </thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="selection-3-display" class="board-display selection-display">
                    <div class="row-1"></div>
                    <div class="row-2"></div>
                    <div class="row-3"></div>
                </div>
            </div>
            <div id="selection-4">
                <div class="top-cover">
                    <button onclick="optionSelect(4)" class="option-button">Select</button>
                </div>
                <div class="selection-figures">
                    <table class="selection-table">
                        <thead>
                            <th>Boards</th>
                            <th>Waste (metres)</th>
                        </thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="selection-4-display" class="board-display selection-display">
                    <div class="row-1"></div>
                    <div class="row-2"></div>
                    <div class="row-3"></div>
                </div>
            </div>
        </div>
        <button onclick="inputMenu()" class="calculator-button">Return</button>
    </div>
    <div id="display-container" class="display-container">
        <table id="board-table" class="board-table display-table">
            <thead>
                <th>Board (m)</th>
                <th>Quantity</th>
            </thead>
        </table>
        <table class="display-table">
            <tr>
                <th>Rows</th>
                <th>Row waste (m)</th>
            </tr>
            <tr>
                <td id="rows-figure"></td>
                <td id="waste-figure"></td>
            </tr>
        </table>
        <div id="joist-tables" class="joist-table">
            <table id="v-joist-table" class="display-table">
                <thead>
                    <th colspan="2">Vertical joists</th>
                </thead>
                <thead>
                    <th>Joist (m)</th>
                    <th>Quantity</th>
                </thead>
            </table>
            <table class="upper-joist-table display-table">
                <thead class="display-table">
                    <th>Vertical joist cuts (m)</th>
                </thead>
                <tr class="display-table">
                    <td id="v-cut-figure"></td>
                </tr>
            </table>
            <table id="h-joist-table" class="display-table">
                <thead>
                    <th colspan="2">Horizontal joists</th>
                </thead>
                <thead>
                    <th>Joist (m)</th>
                    <th>Quantity</th>
                </thead>
            </table>
            <table class="display-table">
                <thead class="display-table">
                    <th>Horizontal joist cuts (m)</th>
                </thead>
                <tr class="display-table">
                    <td id="h-cut-figure"></td>
                </tr>
            </table>
        </div>
        <div id="cut-table">
            <table class="cut-table display-table">
                <thead>
                    <th colspan="2">End board/s to cut</th>
                </thead>
                <thead>
                    <th>Board (m)</th>
                    <th>Cut (m)</th>
                </thead>
                <tr>
                    <td id="board-figure"></td>
                    <td id="cut-figure"></td>
                </tr>
            </table>
        </div>
        <div id="place-table">
            <table class="end-table display-table">
                <thead>
                    <th>End Board/s</th>
                </thead>
                <tr>
                    <td id="place-figure"></td>
                </tr>
            </table>
        </div>
        <div class="board-visual">
            <div class="title">
                Quick view
                <div>Red markings indicate the trim board (if applicable)</div>
            </div>
            <div id="board-display" class="board-display">
                <div class="row-1"></div>
                <div class="row-2"></div>
                <div class="row-3"></div>
            </div>
        </div>
        <button onclick="selectionMenu()" class="calculator-button return">Return</button>
        <button title="Summary" onclick="summaryMenu()" class="calculator-button">Summary</button>
    </div>
    <div id="summary-container" class="summary-container">
        <div style="width: 100%; display: inline-block;">
            <div>
                <h2 style="padding-left: 15px; padding-bottom: 10px;">
                    Calculation Summary
                </h2>
            </div>
        </div>
        <table id="calculation-summary" class="summary-table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </tbody>
        </table>

        <div style="width: 100%; margin-top: 2rem; display: inline-block;">
            <div>
                <h2 style="padding-left: 15px; padding-bottom: 10px;">
                    Optional
                </h2>
            </div>
        </div>
        <table id="optional-summary" class="summary-table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.edecks.co.uk/subdept/19/0/Boxes-Of-Screws">Screw Boxes (200 screws)</a>
                    </td>
                    <td>
                        Quantity
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.edecks.co.uk/subdept/811/0/Owatrol">Decking Paint (2.5L)</a>
                    </td>
                    <td>
                        Quantity
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.edecks.co.uk/subdept/751/0/Weed-Prevention">Weed Membrane</a>
                    </td>
                    <td>
                        Quantity
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="return" title="Return" onclick="displayMenu()" class="calculator-button return">Return</button>
        <button title="Restart" onclick="inputMenu()" class="calculator-button">Restart</button>
    </div>
</div>