﻿@section Scripts {
    <script type="text/javascript" src="~/js/selection.min.js" asp-append-version="true"></script>
}

@using (Html.BeginForm("Calculator", "Calculator", FormMethod.Post, new { @class = "input-container" }))
{
  <div class="calculator-input available-container">
      @Html.Label("Available Boards", "Available Boards")
      <div>
      @Html.DropDownList("bid", Model.GetBoardSelectList(),"Click to select a board", new { @id = "board-input", @class = "dropdown-select calculator-input available-input", onchange = @"checkInput();" })
      </div>
      @Html.Label("Available Joists", "Available Joists")
      <div>
      @Html.DropDownList("jid", Model.GetJoistSelectList(),"Click to select a joist", new { @id = "joist-input", @class = "dropdown-select calculator-input available-input", onchange = @"checkInput();" })
      </div>
  </div>
  <input type="submit" id="calc-button" class="calculator-button" value="Submit" disabled/>
}