@section StyleSheets {
    <link rel="stylesheet" type="text/css" href="~/css/qunit-2.9.2.css" asp-append-version="true">
}

@section Scripts {
    <script type="text/javascript" src="~/js/calculator.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/tests/qunit-2.9.2.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/tests/tests.js" asp-append-version="true"></script>
}

<div style="margin-top: 1.5em;" id="qunit"></div>
<div id="qunit-fixture"></div>


<select style="margin-top: 1.5rem; display: none;" aria-label="Joist select dropdown" id="joist-input" class="calculator-input dropdown-select"></select>