﻿.calculator-errors {
    background-color: rgb(243, 174, 174);
    font-size: 1.5rem;
}

.return {
    margin-right: 5rem;
    text-align: center;
}

.input-container,
.display-container {
    text-align: center;
    margin: auto;
}

.display-container,
.selection-container,
.summary-container {
    display: none;
}

.calculator-input {
    margin-top: 3rem;
    background-color: #eeeeee;
    width: 50%;
    margin: auto;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
}

.waste-table {
    margin-top: 0.25rem;
}

.display-table {
    border: 2px solid black;
    margin: auto;
    border-collapse: collapse;
    width: 75%;
}

.cut-table,
.end-table,
.joist-table {
    margin-top: 1rem;
}

.upper-joist-table {
    margin-bottom: 0.2em;
}

.gdpr-consent {
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 1.5rem;
    background-color: #f8f8c9;
    border: 1px solid #d6d6b5;
    margin-bottom: 1.1rem;
}

.display-table th,
.display-table td,
.display-table tbody {
    padding: 0.1rem;
    border: 2px solid rgb(104, 104, 104);
}

.display-table th {
    font-size: 2.3rem;
    background-color: lightgray;
}

.display-table td,
.display-table tbody {
    font-size: 2rem;
}

.board-visual {
    width: 75%;
    margin: auto;
    margin-top: 2em;
    border: 1px solid #adadad;
    background-color: lightgray;
}

.board-visual>.title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgb(190, 190, 190);
}

.board-visual>.title>div {
    font-size: 1rem;
    color: rgb(255, 52, 52)
}

.selection-display {
    margin: auto;
    margin-top: 2.5em;
    width: 96%;
}

.selection-display>div>div {
    font-size: 0px !important;
}

.selection-display>div>div>.trim {
    width: 0 !important;
    min-width: 0px !important;
}

.board-display {
    padding-top: 0.25em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.board-display>div,
.trim-board {
    display: flex;
    flex-wrap: nowrap;
}

.board-display>div>div {
    background-color: #f1f1f1;
    border: 0.5px solid rgb(194, 194, 194);
    margin: 0px 1px 1px 0px;
    line-height: 50px;
    text-align: center;
    font-size: 1.25rem;
}

.trim-board>.trim {
    width: 3%;
    min-width: 1px;
    background-color: rgb(255, 94, 94)
}

.selection-container, .summary-container {
    margin: auto;
    text-align: center;
    margin-bottom: 2em;
}

.selection-container {
    width: 95%;
}

.summary-table {
    text-align: center;
    background-color: #eee;
    width: 100%;
}

.summary-table>tbody>tr>th {
    background-color: rgb(238, 238, 238);
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'sarimedium';
}

.summary-table>tbody>tr>th,
.summary-table>tbody>tr>td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.summary-table>tbody>tr:last-child>td {
    border-bottom: 0;
}

.summary-table>tbody>tr>td:last-child,
.summary-table>tbody>tr>th:last-child {
    border-right: 0;
}

.summary-table>tbody>tr>td {
    background-color: rgb(250, 250, 250);
    padding-bottom: 2px;
    padding-top: 2px;
    font-family: 'sari_blackregular';
    font-size: 1.1rem;
    line-height: 32px;
}

.selections {
    min-height: 50em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.selections>div {
    flex-basis: calc(50% - 2px);
    border: 1px solid rgb(194, 194, 194);
}

.selections>div>.top-cover {
    background-color: rgb(219, 219, 219);
    height: 15%;
}

.selections>div>.option-display {
    height: 85%;
}

.option-button {
    width: 80%;
    height: 100%;
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
    font-weight: bold;
}

.selection-table {
    border-collapse: collapse;
    border-style: hidden;
    border-bottom: 1px;
    border-top: 1px;
    width: 100%;
}

.selection-table th {
    background-color: rgb(243, 243, 243);
    font-size: 1.3em;
}

.selection-table td {
    background-color: rgb(252, 252, 252);
    font-size: 1.2em;
}

.selection-table th,
.selection-table td {
    padding: 0.1rem;
    border: 1px solid rgb(194, 194, 194);
}

.length-input,
.width-input,
.board-visual,
.option-button,
.display-container,
.gdpr-consent {
    font-family: 'Francois One', sans-serif !important;
}

.length-input,
.width-input {
    font: 3.5rem solid black;
    text-align: center;
    width: 20rem;
    height: 5rem;
    border-radius: 1.1rem;
    margin-bottom: 2rem;
}

.calculator-input {
    margin-bottom: 0.5rem;
    font-family: 'Francois One', sans-serif !important;
    font: 3rem solid black;
}

.calculator-button {
    font-family: 'Francois One', sans-serif !important;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font: 2.5rem solid black;
    border-radius: 0.75rem;
}

.calculator-button:disabled {
    color: gray;
}

.dropdown-select {
    text-align: center;
    margin-bottom: 1rem;
}

.available-input {
    width: 90%;
    font: 1.5rem solid black;
}

.available-container {
    width: 80%;
}