body {
    background: url('../media/bgautumn15.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
}

.voucherValue {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: -15px;
    font-size: 24px;
    padding-left: 0px;
    font-weight: bold;
    color: #FF8A00
}

.voucherTitle {
    font-family: 'Rokkitt', serif;
    font-size: 18px;
    margin-top: 0px;
    background-color: #070F33;
    padding: 10px;
    line-height: 10px;
    color: #F0FF03;
    text-align: center;
    text-transform: uppercase
}

.voucherDate {
    font-family: 'Rokkitt', serif;
    font-size: 10px;
    float: right;
    background-color: #eee;
    padding: 5px;
    line-height: 10px;
    text-transform: uppercase
}

.voucherExpiry {
    font-family: 'Rokkitt', serif;
    font-size: 10px;
    float: left;
    padding: 5px;
    line-height: 10px;
    text-transform: uppercase
}

.noVouchers {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
    padding-left: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #FF8A00
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    line-height: 10px;
}

.voucherDescription {
    font-size: 10px;
    width: 100%;
    text-align: center;
    font-family: arial
}

.voucherReveal {
    background-color: #FFFFFF;
    text-align: center;
}

.voucherReveal:hover {
    background-color: transparent
}

.voucherReveal .text {
    padding-top: 5px;
}

.voucherReveal:hover .text {
    color: transparent
}

.voucherReveal:hover img {
    display: none
}

.voucherWrapper {
    width: 240px;
    height: 100px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.voucherWrapper:hover {
    overflow: hidden;
    opacity: 0;
    padding-left: 200px
}

.voucherFace {
    position: absolute;
    width: 76px;
    height: 100px;
    overflow: hidden;
}

.voucherFront {
    background-image: url(../media/voucher_front.png);
    width: 200px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
}

.megamenu li .megamenu_drop {
    height: 50px;
    padding-right: 10px;
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 600;
}

.megamenu li .fullwidth {
    left: -1px;
    display: inline;
    margin-left: -19px;
}

.megamenu li:hover a {
    background-color: rgb(53, 53, 63);
}

.megamenu li .fullwidth table li {
    width: 130px;
}

.megamenu {
    z-index: 0;
}

.megamenu_container {
    height: 50px;
    padding-left: 10px;
    padding-right: 0px;
}

.megamenu li ul {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 12px;
}

.megamenu_dark .megamenu li ul li {
    width: 130px;
    height: 160px;
    background-color: #FFFFFF;
    padding: 5px;
    line-height: 14px;
    font-size: 13px;
    color: #070F33;
    margin: 2px;
    border-radius: 4px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
}

.megamenu li fullwidth a {
    text-transform: none;
    font-size: 12px;
    display: inline;
}

.megamenu li ul li,
.megamenu li ol li {
    font-size: 12px;
    line-height: 21px;
    position: relative;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
}

.megamenu_dark .megamenu li ul li:hover {
    background-color: yellow;
    color: #000000;
    opacity: 1;
}

.nofx :hover {
    /*margin-left: 20px;*/
    all: initial;
    background-color: #ddd;
}

.nav-toggler a {
    color: #FF6467;
}

.topTabBar {
    text-align: center;
    max-width: 1077px;
}

.topTabBar ul {
    display: inline;
    list-style: none;
}

.topTabBar li {
    float: left;
}

.basketPrice {
    background-color: #fff;
}

.basketPrice:hover {
    background-color: #35353f;
    color: #F0FF00;
    cursor: pointer;
}

.basketPreview:hover #basket {
    -ms-transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
}

#basket:hover {
    -ms-transform: rotate(10px);
    -webkit-transform: rotate(10px);
    transform: translateX(10px);
}

.preview-products {
    position: relative;
    top: -15px;
    left: 0px;
}

.preview-products li {
    padding: 5px;
    text-align: center;
    height: 170px;
    margin-top: -45px;
    background-color: #eee;
    border-radius: 10px;
}

.preview-products li:hover {
    padding-bottom: 8px;
    background-color: #F0FF00;
}

.preview-products li {
    padding: 5px;
    text-align: center;
    height: 100px;
    margin-top: 5px;
    border: 10px solid #35353F;
    background-color: #eee;
    border-radius: 10px;
}

.preview-products img {
    width: 80px;
    height: 55px;
    border: 3px #FFFFFF solid;
}

.pperrormsg {
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 9px;
    margin: -4px 200px 0px 0px;
    padding: 8px 20px;
    display: none;
    float: left;
    width: 380px;
    margin-left: -390px;
}

#paypal-outer {
    margin-top: -29px;
    margin-left: -180px;
    height: 42px;
    display: none;
    vertical-align: bottom;
}

#paypal-button2 {
    background-image: url(../media/pp2.png);
    width: 150px;
    height: 37px;
    margin-left: -327px;
    margin-top: -29px;
    display: none;
    cursor: pointer;
    vertical-align: bottom;
}

.surcharge {
    display: none;
}

.detail_specs {
    position: static;
}

.detail_features {
    position: static;
}

.xppcomponent-outlet {
    position: static;
}

.scroll {
    position: fixed;
    bottom: 0;
    left: 0;
}

.horizon {
    z-index: 1;
    width: 3000px;
}

.middle {
    z-index: 2;
    width: 4000px;
}

.front1 {
    z-index: 3;
    width: 6000px;
}

.twitter-typeahead .tt-query {
    top: 0px;
}

.basketSection {
    height: 100%;
    overflow: auto;
    width: 200px;
}

.basketSection tr {
    border-bottom: 1px solid #616E9C;
}

.basketSection tr.header {
    background-color: #35353f;
    color: #FFFFFF;
}

.basketSection td {
    line-height: 14px;
    padding: 5px;
}

.basketSection .product {
    font-size: 11px;
}

.basketSection .icon {
    width: 80px;
    z-index: 10;
}

.twitter-typeahead .tt-hint {
    height: 28px;
    width: 260px;
    color: #ff8a00;
    font-size: 18px;
    font-weight: bold;
    padding-left: 4px;
    height: 30px;
    border: medium 2px;
    top: -1px;
}

a.btn_newsletter {
    background-image: url("../media/btn_newsletter.png");
    background-position: center top;
    float: left;
    height: 63px;
    margin-right: 10px;
    margin-top: 0;
    margin-left: -20px;
    position: relative;
    text-decoration: none;
    width: 166px;
    z-index: 99;
}

.pperrormsg {
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 9px;
    margin: -4px 200px 0px 0px;
    padding: 8px 20px;
    display: none;
    float: left;
    width: 380px;
    margin-left: -390px;
}

#paypal-outer {
    margin-top: -29px;
    margin-left: -180px;
    height: 42px;
    display: none;
    vertical-align: bottom;
}

#paypal-button2 {
    background-image: url(../media/pp2.png);
    width: 150px;
    height: 37px;
    margin-left: -327px;
    margin-top: -29px;
    display: none;
    cursor: pointer;
    vertical-align: bottom;
}

.surcharge {
    display: none;
}

.detail_specs {
    position: static;
}

.detail_features {
    position: static;
}

.xppcomponent-outlet {
    position: static;
}

table {
    border-collapse: initial;
}

.detail-container {
    min-height: 500px;
}

.breadcrumb {
    padding-left: 10px;
    width: 100%;
    height: 26px;
    overflow: auto;
}

.breadcrumb i {
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
}

.breadcrumb ul {
    display: inline;
}

.breadcrumb li {
    float: left;
    padding: 3px;
    border-radius: 2px;
    margin-right: 6px;
    list-style: none;
}

.breadcrumb li::after {
    content: " >";
}

.formHolder {
    padding: 20px;
    padding-left: 450px;
}

#freeDelContent {
    width: 300px;
    font-size: 12px;
    margin-left: 720px;
}

#freeDelContent table {
    background-color: #A0A0A0;
}

#freeDelContent td {
    font-size: 11px;
    padding: 2px;
}

#instantFreeCreditForm table {
    background-image: url(../media/trans-white-50cent.png);
    font-size: 11px;
    font-weight: bold;
}

#instantFreeCreditForm input {
    padding: 6px;
}

#CreditType td {
    padding: 5px;
}

#instantDecision {
    padding: 10px;
    border-radius: 15px;
}

.scroll {
    position: fixed;
    bottom: 0;
    left: 0;
}


/**
* z-index ordering of the different layers, do this for your layers,
* also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
*/

.horizon {
    z-index: 1;
    width: 3000px;
}

.middle {
    z-index: 2;
    width: 4000px;
}

.front1 {
    z-index: 3;
    width: 6000px;
}

.fb_hidden {
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reposition {
    overflow: hidden;
    position: relative
}

.fb_invisible {
    display: none
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset>div {
    overflow: hidden
}

@keyframes fb_transform {
    from {
        opacity: 0;
        transform: scale(.95)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fb_animate {
    animation: fb_transform .3s forwards
}

.fb_dialog {
    background: rgba(82, 82, 82, .7);
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_dialog_advanced {
    border-radius: 8px;
    padding: 10px
}

.fb_dialog_content {
    background: #fff;
    color: #373737
}

.fb_dialog_close_icon {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
    left: 5px;
    right: auto;
    top: 5px
}

.fb_dialog_padding {
    background-color: transparent;
    position: absolute;
    width: 1px;
    z-index: -1
}

.fb_dialog_close_icon:hover {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
}

.fb_dialog_close_icon:active {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe {
    line-height: 0
}

.fb_dialog_content .dialog_title {
    background: #6d84b4;
    border: 1px solid #365899;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

.fb_dialog_content .dialog_title>span {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px
}

body.fb_hidden {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    transform: none;
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
    background: none;
    height: auto;
    min-height: initial;
    min-width: initial;
    width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
    background: none
}

.loading.centered #fb_dialog_loader_close {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
    display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
    visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe {
    position: sticky;
    top: 0
}

.fb_dialog_content .dialog_header {
    background: linear-gradient(from(#738aba), to(#2c4987));
    border-bottom: 1px solid;
    border-color: #043b87;
    box-shadow: white 0 1px 1px -1px inset;
    color: #fff;
    font: bold 14px Helvetica, sans-serif;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap
}

.fb_dialog_content .dialog_header table {
    height: 43px;
    width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
    font-size: 12px;
    padding-right: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .touchable_button {
    background: linear-gradient(from(#4267B2), to(#2a4887));
    background-clip: padding-box;
    border: 1px solid #29487d;
    border-radius: 3px;
    display: inline-block;
    line-height: 18px;
    margin-top: 3px;
    max-width: 85px;
    padding: 4px 12px;
    position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
    background: none;
    border: none;
    color: #fff;
    font: bold 12px Helvetica, sans-serif;
    margin: 2px -12px;
    padding: 2px 6px 3px 6px;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle
}

.fb_dialog_content .dialog_content {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #4a4a4a;
    border-bottom: 0;
    border-top: 0;
    height: 150px
}

.fb_dialog_content .dialog_footer {
    background: #f5f6f7;
    border: 1px solid #4a4a4a;
    border-top-color: #ccc;
    height: 40px
}

#fb_dialog_loader_close {
    float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
    visibility: hidden
}

#fb_dialog_loader_spinner {
    animation: rotateSpinner 1.2s linear infinite;
    background-color: transparent;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.fb_iframe_widget {
    display: inline-block;
    position: relative
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify
}

.fb_iframe_widget iframe {
    position: absolute
}

.fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
    max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
    min-width: 220px;
    position: relative
}

.fb_iframe_widget_lift {
    z-index: 1
}

.fb_iframe_widget_fluid {
    display: inline
}

.fb_iframe_widget_fluid span {
    width: 100%
}

.fancybox-margin {
    margin-right: 12px;
}

#footer .edecks_title {
    color: #35353F
}

#footer a.btn_newsletter {
    float: left
}

.eRoofsPreview {
    width: 100%;
    margin-left: 10%;
    padding-top: 20px;
}

.eRoofsPreview .shopLink {
    float: right;
    margin-right: 30%
}

button,
input,
optgroup,
select,
textarea {
    color: rgb(53, 53, 63);
    font-size: 12px;
}

.basketSummary {
    -webkit-box-shadow: inset 3px 2px 5px 0px rgba(0, 2, 13, 1);
    -moz-box-shadow: inset 3px 2px 5px 0px rgba(0, 2, 13, 1);
    box-shadow: inset 3px 2px 5px 0px rgba(0, 2, 13, 1);
    background-color: #35353f;
    color: #fff;
    border-radius: 4px;
}

.basketSummary td {
    padding: 1px;
    text-align: left
}

.basketSummary img {
    height: 30px;
}

.menuSection {
    background-image: url(../media/bg_menu.png);
}

.menuSection td {
    vertical-align: baseline
}

.contentSection {
    padding-left: 30px;
    padding-right: 80px;
    margin-top: -20px;
    padding-bottom: 50px;
}

.sectionSection h2 {
    color: #f0ff00
}

.headerSection {
    background-image: url(../media/bg_header.png);
}

.headerSection .logo {
    width: 90%;
    padding-left: 20px;
}

.basketSection {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
}

#footer h2 {
    font-size: 24px;
    letter-spacing: -1px;
}

.insetGradient {
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(241, 241, 241, 1)), color-stop(51%, rgba(225, 225, 225, 1)), color-stop(100%, rgba(246, 246, 246, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 3px 2px 5px 0px rgba(120, 120, 120, 0.39);
    -moz-box-shadow: 3px 2px 5px 0px rgba(120, 120, 120, 0.39);
    box-shadow: 3px 2px 5px 0px rgba(120, 120, 120, 0.39);
    color: #35353f;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
}

blockquote {
    quotes: none
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none
}


/* clear floated divs */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

#wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.buttons {
    margin-left: 250px;
    text-align: center;
}

.buttons button {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px;
    color: #999;
    background-color: transparent;
}

.buttons button:hover,
.buttons button.active {
    background-color: #3184a1
}

.buttons button:focus {
    outline: none
}

nav.menu {
    position: fixed;
    z-index: 20;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button.close-menu {
    background-color: #000;
    color: #fff;
}

button.close-menu:focus {
    outline: none
}


/* slide menu left and right, push menu left and right */

nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 200px;
    height: 100%;
}

nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
    text-align: center;
    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;
}

nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none
}

nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none
}

nav.slide-menu-left button.close-menu,
nav.slide-menu-right button.close-menu,
nav.push-menu-left button.close-menu,
nav.push-menu-right button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}

nav.slide-menu-left,
nav.push-menu-left {
    left: -300px
}

nav.slide-menu-right,
nav.push-menu-right {
    background-image: url(../media/bg_hideBarRight.png);
    right: -280px;
}

body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
    left: 0
}

body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
    right: 0
}

body.pml-open #wrapper {
    left: 300px
}

body.pmr-open #wrapper {
    left: -300px
}


/* slide menu top and bottom */

nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-top2,
nav.push-menu-top3,
nav.push-menu-top4,
nav.push-menu-bottom {
    left: 0;
    width: 100%;
    height: 160px;
    background-image: url(../media/bg_hideBar.png);
}

nav.slide-menu-top ul,
nav.slide-menu-bottom ul,
nav.push-menu-top ul,
nav.push-menu-bottom ul {
    padding: 0px 0 0 0;
}

nav.slide-menu-top li,
nav.slide-menu-bottom li,
nav.push-menu-top li,
nav.push-menu-bottom li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

nav.slide-menu-top a,
nav.slide-menu-bottom a,
nav.push-menu-top a,
nav.push-menu-bottom a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
}

nav.slide-menu-top button.close-menu,
nav.slide-menu-bottom button.close-menu,
nav.push-menu-top button.close-menu,
nav.push-menu-bottom button.close-menu {
    display: block;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}

nav.slide-menu-top,
nav.push-menu-top {
    top: -160px
}

nav.push-menu-top {
    top: -160px
}

nav.push-menu-top2 {
    top: -160px
}

nav.push-menu-top3 {
    top: -160px
}

nav.push-menu-top4 {
    top: -160px
}

nav.slide-menu-bottom,
nav.push-menu-bottom {
    bottom: -160px
}

body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top {
    top: 0;
}

body.pmt2-open nav.push-menu-top {
    top: 0;
}

body.pmt3-open nav.push-menu-top {
    top: 0;
}

body.pmt4-open nav.push-menu-top {
    top: 0;
}

body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom {
    bottom: 0
}

body.pmt-open #wrapper {
    top: 100px
}

body.pmt2-open #wrapper {
    top: 100px
}

body.pmt3-open #wrapper {
    top: 100px
}

body.pmt4-open #wrapper {
    top: 100px
}

body.pmb-open #wrapper {
    top: -100px
}

.bg_topbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-image: url(../media/bg_toptabbar.png);
    background-repeat: repeat-x;
    height: 75px;
}

.bg_toptabbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-image: url(../media/bg_toptabbar.png);
    z-index: 5000;
    background-repeat: repeat-x;
    height: 75px;
}

.voucherValue {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: -15px;
    font-size: 24px;
    padding-left: 0px;
    font-weight: bold;
    color: #FF8A00
}

.voucherTitle {
    font-family: 'Rokkitt', serif;
    font-size: 18px;
    margin-top: 0px;
    background-color: #070F33;
    padding: 10px;
    line-height: 10px;
    color: #F0FF03;
    text-align: center;
    text-transform: uppercase
}

.voucherDate {
    font-family: 'Rokkitt', serif;
    font-size: 10px;
    float: right;
    background-color: #eee;
    padding: 5px;
    line-height: 10px;
    text-transform: uppercase
}

.voucherExpiry {
    font-family: 'Rokkitt', serif;
    font-size: 10px;
    float: left;
    padding: 5px;
    line-height: 10px;
    text-transform: uppercase
}

.noVouchers {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
    padding-left: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #FF8A00
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    line-height: 10px;
}

.voucherDescription {
    font-size: 10px;
    width: 100%;
    text-align: center;
    font-family: arial
}

.voucherReveal {
    background-color: #FFFFFF;
    text-align: center;
}

.voucherReveal:hover {
    background-color: transparent
}

.voucherReveal .text {
    padding-top: 5px;
}

.voucherReveal:hover .text {
    color: transparent
}

.voucherReveal:hover img {
    display: none
}

.voucherWrapper {
    width: 240px;
    height: 100px;
    position: relative;
    /*background-color:#333;*/
    margin-right: 10px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.voucherWrapper:hover {
    overflow: hidden;
    opacity: 0;
    padding-left: 200px
}

.voucherFace {
    position: absolute;
    width: 76px;
    height: 100px;
    overflow: hidden;
}

.voucherFront {
    background-image: url(../media/voucher_front.png);
    width: 200px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
}

#demo {
    width: 100%;
    background-color: #fff;
    padding: 8px;
}

#logo {
    position: relative;
    width: 420px;
    height: 170px;
    margin-left: 20px;
    margin-top: -20px;
    background: url(../media/logo_eD_Autumn.png) no-repeat;
    background-size: contain;
}

#flake1 {
    background-image: url(../media/snowflake1.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-top: -80px;
    position: absolute;
    background-repeat: no-repeat;
}

#leaf2 {
    background-image: url(../media/snowflake1.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    background-repeat: no-repeat;
}

#leaf3 {
    background-image: url(../media/snowflake1.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
}

#leaf4 {
    background-image: url(../media/snowflake1.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    background-repeat: no-repeat;
}

#leaf5 {
    background-image: url(../media/snowflake1.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    background-repeat: no-repeat;
}

#strapline {
    position: absolute;
    margin-top: -75px;
    width: 380px;
    height: 20px;
    margin-left: 50px;
}

#logo-back {
    background-image: url("../media/autumn_leaves.png");
    background-repeat: repeat;
    background-size: 60%;
}

#sticky {
    padding: 0.1ex;
    background-color: #fff;
}

#sticky.stick {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 70px;
    z-index: 10000;
    border-bottom: 1px solid #A8A8A8;
    opacity: 0.8;
}

.searchHighlight {
    background-color: #35353f;
    padding: 8px;
    vertical-align: middle;
}

.searchHighlight:hover {
    background-color: #35353f;
    padding: 8px;
    vertical-align: middle;
}

#customerCarePanel {
    background-color: #35353F;
    width: 97%;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 20;
}

.userInput {
    font-size: 14px;
}

.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 11px;
    text-transform: capitalize;
    line-height: 1;
    border: 0;
    border-radius: 4;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    width: 190px;
    height: 34px;
    overflow: hidden;
    background: url(../media/icon_hand_right.png) no-repeat right #798FC8;
    border: 1px solid #35353F;
}

.styled-select:hover {
    background: url(../media/icon_hand_down.png) no-repeat right #798FC8;
    border: 1px solid #F0FF00;
}

.socialHeader i {
    color: #35353F;
}

.socialHeader i:hover {
    color: #798FC8;
}

.socialHeader span:hover {
    color: #35353F;
}

input {
    outline: none;
    outline-width: 0;
}

#customerCarePanel i {
    color: #FFFFFF;
}

#customerCarePanel td {
    color: #FFFFFF;
}

.acclogin {
    text-align: left;
    margin-left: 97px;
    margin-top: 25px;
}

#customerCarePanel {
    width: 1077px !important;
    margin-top: -10px;
    position: fixed !important;
    margin-top: -10px;
    z-index: 105 !important;
}

.loggedin {
    position: absolute;
    margin-top: -41px;
    margin-left: -94px;
    padding: 5px;
    width: 83px;
    height: 39px;
    text-align: center;
    color: #35353F;
    font-weight: bold;
}

.formHolder {
    padding: 20px;
    padding-left: 550px;
    padding-top: 50px;
}

#freeDelContent {
    width: 300px;
    font-size: 12px;
    margin-left: 720px;
}

#freeDelContent table {
    background-color: #A0A0A0;
}

#freeDelContent td {
    font-size: 11px;
    padding: 2px;
}

#instantFreeCreditForm table {
    background-image: url(../media/assets/trans-white-50cent.png);
    font-size: 11px;
    font-weight: bold;
}

#instantFreeCreditForm input {
    padding: 6px;
}

#CreditType td {
    padding: 5px;
}

#instantDecision {
    padding: 10px;
    border-radius: 15px;
}

.eRoofsPreview {
    width: 100%;
    margin-left: 10%;
    padding-top: 20px;
}

.eRoofsPreview .shopLink {
    float: right;
    margin-right: 30%
}

button,
input,
optgroup,
select,
textarea {
    color: rgb(53, 53, 63);
    font-size: 12px;
}

.basketSummary {
    -webkit-box-shadow: inset 3px 2px 5px 0px rgba(0, 2, 13, 1);
    -moz-box-shadow: inset 3px 2px 5px 0px rgba(0, 2, 13, 1);
    box-shadow: inset 3px 2px 5px 0px rgba(0, 2, 13, 1);
    background-color: #35353f;
    color: #fff;
    border-radius: 4px;
}

.basketSummary td {
    padding: 1px;
    text-align: left
}

.basketSummary img {
    height: 30px;
}

.menuSection {
    background-image: url(../media/bg_menu.png);
}

.menuSection td {
    vertical-align: baseline
}

.contentSection {
    padding-left: 30px;
    padding-right: 80px;
    margin-top: -20px;
    padding-bottom: 50px;
}

.sectionSection h2 {
    color: #f0ff00
}

.headerSection {
    background-image: url(../media/bg_header.png);
}

.headerSection .logo {
    width: 90%;
    padding-left: 20px;
}

.basketSection {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
}

#footer h2 {
    font-size: 24px;
    letter-spacing: -1px;
}

.insetGradient {
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(241, 241, 241, 1)), color-stop(51%, rgba(225, 225, 225, 1)), color-stop(100%, rgba(246, 246, 246, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 3px 2px 5px 0px rgba(120, 120, 120, 0.39);
    -moz-box-shadow: 3px 2px 5px 0px rgba(120, 120, 120, 0.39);
    box-shadow: 3px 2px 5px 0px rgba(120, 120, 120, 0.39);
    color: #35353f;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
}

blockquote {
    quotes: none
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none
}


/* clear floated divs */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

#wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.buttons {
    margin-left: 250px;
    text-align: center;
}

.buttons button {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px;
    color: #999;
    background-color: transparent;
}

.buttons button:hover,
.buttons button.active {
    background-color: #3184a1
}

.buttons button:focus {
    outline: none
}

nav.menu {
    position: fixed;
    z-index: 20;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button.close-menu {
    background-color: #000;
    color: #fff;
}

button.close-menu:focus {
    outline: none
}


/* slide menu left and right, push menu left and right */

nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 200px;
    height: 100%;
}

nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
    text-align: center;
    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;
}

nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none
}

nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none
}

nav.slide-menu-left button.close-menu,
nav.slide-menu-right button.close-menu,
nav.push-menu-left button.close-menu,
nav.push-menu-right button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}

nav.slide-menu-left,
nav.push-menu-left {
    left: -300px
}

nav.slide-menu-right,
nav.push-menu-right {
    background-image: url(../media/bg_hideBarRight.png);
    right: -280px;
}

body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
    left: 0
}

body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
    right: 0
}

body.pml-open #wrapper {
    left: 300px
}

body.pmr-open #wrapper {
    left: -300px
}


/* slide menu top and bottom */

nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-top2,
nav.push-menu-top3,
nav.push-menu-top4,
nav.push-menu-bottom {
    left: 0;
    width: 100%;
    height: 160px;
    background-image: url(../media/bg_hideBar.png);
}

nav.slide-menu-top ul,
nav.slide-menu-bottom ul,
nav.push-menu-top ul,
nav.push-menu-bottom ul {
    padding: 0px 0 0 0;
}

nav.slide-menu-top li,
nav.slide-menu-bottom li,
nav.push-menu-top li,
nav.push-menu-bottom li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

nav.slide-menu-top a,
nav.slide-menu-bottom a,
nav.push-menu-top a,
nav.push-menu-bottom a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
}

nav.slide-menu-top button.close-menu,
nav.slide-menu-bottom button.close-menu,
nav.push-menu-top button.close-menu,
nav.push-menu-bottom button.close-menu {
    display: block;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}

nav.slide-menu-top,
nav.push-menu-top {
    top: -160px
}

nav.push-menu-top {
    top: -160px
}

nav.push-menu-top2 {
    top: -160px
}

nav.push-menu-top3 {
    top: -160px
}

nav.push-menu-top4 {
    top: -160px
}

nav.slide-menu-bottom,
nav.push-menu-bottom {
    bottom: -160px
}

body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top {
    top: 0;
}

body.pmt2-open nav.push-menu-top {
    top: 0;
}

body.pmt3-open nav.push-menu-top {
    top: 0;
}

body.pmt4-open nav.push-menu-top {
    top: 0;
}

body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom {
    bottom: 0
}

body.pmt-open #wrapper {
    top: 100px
}

body.pmt2-open #wrapper {
    top: 100px
}

body.pmt3-open #wrapper {
    top: 100px
}

body.pmt4-open #wrapper {
    top: 100px
}

body.pmb-open #wrapper {
    top: -100px
}

body {
    color: #35353f;
    font-family: 'Lato900', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'sari_blackregular';
    font-size: 4em;
    line-height: 42px;
    letter-spacing: 0px;
}

#subdept-text h1 {
    letter-spacing: -3px;
    line-height: 52px;
}

h2 {
    font-family: 'sari_blackregular';
    font-size: 34px;
    line-height: 32px;
    letter-spacing: -2px;
}

h3 {
    font-family: 'sarimedium';
    font-size: 20px;
    letter-spacing: -1px
}

h6 {
    font-family: 'Lato900', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

.noteText {
    font-family: 'AngelinaRegular';
    color: #7c8ec5;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    letter-spacing: 0px;
}

.noteTextOrange {
    font-family: 'AngelinaRegular';
    color: #FF8B00;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.yellowNote {
    padding: 14px;
    background-color: #F0FF00;
    width: 100%;
    color: black;
}

.blueNote {
    padding: 14px;
    color: #F0FF00;
    background-color: #35353f;
    width: 100%;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
}

.logo {
    background-image: url(../media/logo_eD.png);
    width: 160%;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #FF8A00;
}

a:hover {
    color: #3184a1
}

#button_size1 {
    text-align: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #fce08d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce08d;
    box-shadow: inset 0px 1px 0px 0px #fce08d;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8c00), color-stop(1, #fa7500));
    background: -moz-linear-gradient( center top, #ff8c00 5%, #fa7500 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8c00', endColorstr='#fa7500');
    background-color: #ff8c00;
    -moz-border-radius: 2x;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #696969;
    display: inline-block;
    color: #ffffff;
    padding: 3px 5px;
    text-decoration: none;
    white-space: nowrap;
}

#button_size1 i {
    color: #FFFFFF
}

#button_size1:hover {
    color: #35353f;
    background: #F0FF00;
    background-image: -webkit-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: -moz-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: -ms-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: -o-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: linear-gradient(to bottom, #f4ff6c, #F0FF00);
    text-decoration: none;
}

.button_size1 {
    text-align: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #fce08d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce08d;
    box-shadow: inset 0px 1px 0px 0px #fce08d;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8c00), color-stop(1, #fa7500));
    background: -moz-linear-gradient( center top, #ff8c00 5%, #fa7500 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8c00', endColorstr='#fa7500');
    background-color: #ff8c00;
    -moz-border-radius: 2x;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #696969;
    display: inline-block;
    color: #ffffff;
    padding: 3px 5px;
    text-decoration: none;
    white-space: nowrap;
}

.button_size1 i {
    color: #FFFFFF
}

.button_size1:hover {
    color: #35353f;
    background: #F0FF00;
    background-image: -webkit-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: -moz-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: -ms-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: -o-linear-gradient(top, #f4ff6c, #F0FF00);
    background-image: linear-gradient(to bottom, #f4ff6c, #F0FF00);
    text-decoration: none;
}

.topTabFavicon {
    background-image: url(../media/favicon_eD.png);
    width: 78px;
    height: 57px;
    background-size: contain;
    background-repeat: no-repeat;
}

.topTabFavicon:hover {
    background-image: url(../media/favicon_eD.png);
    width: 78px;
    height: 57px;
    background-size: contain;
    background-repeat: no-repeat;
}


/*.topTabFavicon {background-image:url(../media/favicon_eD.png); width:78px; height:57px; background-size:contain; background-repeat:no-repeat; }
.topTabFavicon:hover {background-image:url(../media/favicon_eD.png); width:78px; height:57px; background-size:contain; background-repeat:no-repeat; }*/


/*.topTabFavicon {background-image:url(../media/favicon_eD_euros.png); width:78px; height:57px; background-size:contain; background-repeat:no-repeat; }
.topTabFavicon:hover {background-image:url(../media/favicon_eD_euros-hover.png); width:78px; height:57px; background-size:contain; background-repeat:no-repeat; }*/

.topTab1 {
    background-image: url(../media/topTab_eD_Off.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    display: none
}

.topTab1:hover {
    background-image: url(../media/topTab_eD_Hover.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
}

.topTab2 {
    background-image: url(../media/topTab_eR_Off.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
}

.topTab2:hover {
    background-image: url(../media/topTab_eR_Hover.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
}

.topTab3 {
    background-image: url(../media/topTab_eRat_Off.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
}

.topTab3:hover {
    background-image: url(../media/topTab_eRat_Hover.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
}

.topTab4 {
    background-image: url(../media/topTab_eS_Off.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
}

.topTab4:hover {
    background-image: url(../media/topTab_eS_Hover.png);
    width: 113px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
}

.Colour1 {
    color: #FF8A00
}

.Colour1_Round {
    color: #FFF;
    background-color: #FF8A00;
    padding: 10px;
    border-radius: 50px;
    width: 50px;
}

#bestSellerFavicon {
    background-image: url(../media/favicon_eD.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 35px;
    margin-left: 20px;
    z-index: 1
}

#sectionMenu,
#sectionMenu ul,
#sectionMenu ul li,
#sectionMenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#sectionMenu {
    padding-top: 20px;
    padding-left: 10px;
    width: 232px;
    color: #ffffff;
    padding-right: 10px;
}

#sectionMenu ul ul {
    display: none;
}

#sectionMenu ul li img {
    width: 60px;
    margin-right: 5px;
    border: 1px solid #fff
}

.align-right {
    float: right;
}

#sectionMenu>ul>li>a {
    padding: 5px 5px;
    border-left: 1px solid #ffc784;
    border-right: 1px solid #000;
    border-top: 1px solid #ffc784;
    border-bottom: 1px solid #000;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background: #ff8a00;
    background: -webkit-linear-gradient(#fda53e, #ff8a00);
    background: -moz-linear-gradient(#fda53e, #ff8a00);
    background: -o-linear-gradient(#fda53e, #ff8a00);
    background: -ms-linear-gradient(#fda53e, #ff8a00);
    background: linear-gradient(#fda53e, #ff8a00);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    height: 65px;
}

#sectionMenu>ul>li>a:hover,
#sectionMenu>ul>li.active>a,
#sectionMenu>ul>li.open>a {
    color: #35353f;
    background: #F0FF00;
    background: -webkit-linear-gradient(#f6ff6d, #F0FF00);
    background: -moz-linear-gradient(#f6ff6d, #F0FF00);
    background: -o-linear-gradient(#f6ff6d, #F0FF00);
    background: -ms-linear-gradient(#f6ff6d, #F0FF00);
    background: linear-gradient(#f6ff6d, #F0FF00);
}

#sectionMenu>ul>li.open>a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #1682ba;
}

#sectionMenu>ul>li:last-child>a,
#sectionMenu>ul>li.last>a {
    border-bottom: 1px solid #1682ba;
}

.holder {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.holder::after,
.holder::before {
    display: block;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    right: 10px;
    z-index: 10;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.holder::after {
    top: 17px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

#sectionMenu>ul>li>a:hover>span::after,
#sectionMenu>ul>li.active>a>span::after,
#sectionMenu>ul>li.open>a>span::after {
    border-color: #eeeeee;
}

.holder::before {
    top: 18px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-color: inherit;
    border-left-color: inherit;
}

#sectionMenu ul ul li a {
    cursor: pointer;
    border-bottom: 1px solid #32373e;
    border-left: 1px solid #32373e;
    border-right: 1px solid #32373e;
    padding: 10px 20px;
    z-index: 1;
    text-decoration: none;
    font-size: 13px;
    color: #eeeeee;
    background: #49505a;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#sectionMenu ul ul li:hover>a,
#sectionMenu ul ul li.open>a,
#sectionMenu ul ul li.active>a {
    background: #424852;
    color: #ffffff;
}

#sectionMenu ul ul li:first-child>a {
    box-shadow: none;
}

#sectionMenu ul ul ul li:first-child>a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#sectionMenu ul ul ul li a {
    padding-left: 30px;
}

#sectionMenu>ul>li>ul>li:last-child>a,
#sectionMenu>ul>li>ul>li.last>a {
    border-bottom: 0;
}

#sectionMenu>ul>li>ul>li.open:last-child>a,
#sectionMenu>ul>li>ul>li.last.open>a {
    border-bottom: 1px solid #32373e;
}

#sectionMenu>ul>li>ul>li.open:last-child>ul>li:last-child>a {
    border-bottom: 0;
}

#sectionMenu ul ul li.has-sub>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    right: -10px;
    z-index: 10;
    top: 11.5px;
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#sectionMenu ul ul li.active>a::after,
#sectionMenu ul ul li.open>a::after,
#sectionMenu ul ul li>a:hover::after {
    border-color: #ffffff;
}

.voucherWrapper {
    cursor: pointer;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 240px;
}

.voucherWrapper:hover {
    opacity: 0;
    overflow: hidden;
    padding-left: 200px;
}

.voucherFace {
    height: 100px;
    overflow: hidden;
    position: absolute;
    width: 76px;
}

.voucherFront {
    background-image: url("../media/voucher_front.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 200px;
}

.button {
    -moz-box-shadow: 0px 7px 14px -4px #c2c2c2;
    -webkit-box-shadow: 0px 7px 14px -4px #c2c2c2;
    box-shadow: 0px 7px 14px -4px #c2c2c2;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffa200), color-stop(1, #ff8400));
    background: -moz-linear-gradient( center top, #ffa200 5%, #ff8400 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffa200', endColorstr='#ff8400');
    background-color: #ffa200;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #575757;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 11px;
    text-decoration: none;
}

.button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b1bb00), color-stop(1, #b1bb00));
    background: -moz-linear-gradient( center top, #b1bb00 5%, #b1bb00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b1bb00', endColorstr='#b1bb00');
    background-color: #ff8400;
}

.button:active {
    position: relative;
    top: 1px;
}

.ed_title {
    color: #ff8a00;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: Arial;
}

#counter-numbers {
    padding-bottom: 8px;
}

.price-large {
    color: #fd8100;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}

#general-page-holder-about {
    background-image: url("../media/bg-general-page-about.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 30px;
    width: 1077px;
}

#general-page-holder-contact {
    background-image: url("../media/bg-general-page-contact.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 30px;
    width: 1077px;
}

#general-page-holder-trackorder {
    background-image: url("../media/bg-general-page-trackorder.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 30px;
    width: 1077px;
}

#contact-img-extra {
    background-image: url("../media/extra-contact.jpg");
    background-repeat: no-repeat;
    float: right;
    height: 102px;
    margin-right: -119px;
    margin-top: 295px;
    width: 119px;
}

#about-img-extra {
    background-image: url("../media/extra-about.jpg");
    background-repeat: no-repeat;
    float: right;
    height: 261px;
    margin-right: -71px;
    margin-top: 112px;
    width: 71px;
}

#trackorder-img-extra {
    background-image: url("../media/extra-trackorder.jpg");
    background-repeat: no-repeat;
    float: right;
    height: 261px;
    margin-right: -71px;
    margin-top: 210px;
    width: 71px;
}

#general-page-text {
    line-height: 16px;
    margin-left: 50px;
}

#general-page-text li {
    color: #f90;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

#general-page-text h1 {
    font-size: 18px;
    padding-bottom: 10px;
}

#general-page-text h2 {
    font-size: 14px;
    line-height: 14px;
}

#general-page-text a {
    color: #fd8600;
    font-size: 14px;
    font-weight: 900;
}

#general-page-logo {
    float: right;
    height: 58px;
    margin-top: -80px;
    padding-right: 60px;
    width: 171px;
}


/*Basket Page*/

.detail_table_holder {
    background-color: #eee;
    background-image: url("../media/diver_inset_vertical.gif");
    background-position: right center;
    background-repeat: repeat-y;
}

.detail_specs {
    background-repeat: repeat-y;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;
    position: relative;
}

.detail_specs_content {
    background-repeat: repeat-y;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-top: 10px;
    position: relative;
}

.detail_features {
    background-position: right center;
    background-repeat: repeat-y;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
}

.detail_features_content {
    background-position: right center;
    background-repeat: repeat-y;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
}

.detail_price {
    border-bottom: 1px dotted #999;
    height: 30px;
    padding-left: 15px;
    padding-top: 0;
    position: relative;
}

.detail_price_discount {
    background-image: url("../media/diver_inset_horiz.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    padding-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.detail_price_price {
    background-image: url("../media/diver_inset_horiz.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    color: #fd8100;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.detail_options_price {
    color: #fd8100;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    position: relative;
}

.button-grey {
    background: #ededed -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%) repeat scroll 0 0;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #ffffff;
    color: #777777;
    display: inline-block;
    font-family: arial;
    font-size: 10px;
    margin: 2px;
    padding: 6px 9px;
    text-decoration: none;
}

.button-grey:hover {
    background: #dfdfdf -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%) repeat scroll 0 0;
}

.button-grey:active {
    position: relative;
    top: 1px;
}

#basket_voucher {
    background-image: url("../media/bg_voucher.jpg");
    background-repeat: no-repeat;
    height: 99px;
    width: 747px;
}

#voucher_input {
    margin-left: 20px;
    margin-top: 35px;
}

#voucher_input input {
    border: medium none;
    font-size: 14px;
    height: 30px;
    width: 100px;
}

.minitab_general {
    background-image: url(../media/mini_tab.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 51px;
    width: 111px;
}

a.minitab_general {
    display: block;
    height: 51px;
    width: 111px;
    text-decoration: none;
    background-image: url(../media/mini_tab.png);
}

a.minitab_general:hover {
    background-position: top;
}


/*Checkout*/

.input-grey {
    border: 1px solid #ccc;
    font-size: 14px;
    height: 30px;
    margin-bottom: 2px;
    padding-left: 5px;
}

.billing_top td {
    line-height: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.freedelivery-table {
    font-family: Arial;
    font-size: 11px;
    border-spacing: 1px;
}


/*Payment*/

.info-table {
    border-bottom: 1px dotted #999;
}

.info-grey-cell-1 {
    background-image: url("../media/diver_inset_vertical.gif");
    background-position: right center;
    background-repeat: repeat-y;
    padding-left: 35px;
    padding-top: 10px;
    position: relative;
}

.info-grey-cell-2 {
    background-image: url("../media/diver_inset_vertical.gif");
    background-position: right center;
    background-repeat: repeat-y;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
}

.info-grey-cell-3 {
    background-image: url("../media/diver_inset_vertical.gif");
    background-position: right center;
    background-repeat: repeat-y;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
}

.info-grey-cell-4 {
    background-image: url("../media/diver_inset_vertical.gif");
    background-position: right center;
    background-repeat: repeat-y;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-top: 10px;
    position: relative;
}

.checkout-table {
    padding-top: 10px;
}

.checkout-table td {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.checkout-table-1 {
    padding-top: 10px;
}

.checkout-table-1 td {
    padding-bottom: 2px;
    padding-right: 10px;
    padding-top: 2px;
}

.checkout-delivery-notes {
    background-color: #fff;
    min-height: 50px;
    padding: 10px;
}

.price-large2 {
    background-image: url("../media/diver_inset_vertical.gif");
    background-position: right center;
    background-repeat: repeat-y;
    border-bottom: 1px dotted #999;
    color: #fd8100;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    padding-left: 15px;
    padding-top: 10px;
}


/*SubCat*/

.department-side-navigation {
    padding-left: 15px;
    padding-top: 20px;
}

.department-side-navigation h2 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 20px;
    font-family: Arial;
}

.department-side-navigation li {
    background-image: url("../media/dept_li_bg.png");
    background-repeat: no-repeat;
    height: 122px;
    list-style: outside none none;
    padding-top: 5px;
}

.department-side-navigation li:hover {
    background-image: url("../media/dept_li_bg_hover.png");
    background-repeat: no-repeat;
    height: 122px;
    list-style: outside none none;
}

.department-side-navigation a {
    line-height: 13px;
    text-decoration: none;
}

.department-side-navigation a:hover {
    color: #ff9100;
    line-height: 13px;
    text-decoration: none;
}

.department-side-navigation img {
    height: auto;
    margin-left: 10px;
    width: 95px;
}

.department-side-link {
    font-size: 14px;
    height: 70px;
    padding-top: 5px;
    width: 110px;
}

#department-counter {
    font-size: 10px;
    margin-left: 0;
    margin-top: -1px;
    padding-left: 10px;
    padding-top: 3px;
}

.department-counter-button {
    background: #ff8c00 -moz-linear-gradient(center top, #ff8c00 5%, #fa7500 100%) repeat scroll 0 0;
    border: 1px solid #696969;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #fce08d inset;
    color: #ffffff;
    display: inline-block;
    font-family: arial;
    font-size: 9px;
    font-weight: bold;
    margin-right: 7px;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #783800;
}

.department-counter-button:active {
    position: relative;
    top: 1px;
}


/* Section2.aspx */

#specials-main {
    background-color: #fff;
    margin: 0 auto 0 0;
    overflow: hidden;
    padding-left: 5px;
    width: 808px;
}

.specials-ul li {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    border-right: 3px solid #fff;
    float: left;
    height: 425px;
    line-height: 10px;
    list-style: outside none none;
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 266px;
}

.headerBestseller {
    background-image: url(../media/dept_header_bestsellers_eD.png);
    width: 819px;
    height: 59px;
}

.sectionHeader {
    width: 243px;
    color: #D4C7C7;
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
    height: 106Px;
    background-image: url(../media/dept_header_eD.png);
}


/* DeptPack */

#sticker-discount-subdepts {
    position: absolute;
    background-image: url(../media/sticker_discount_subdepts.png);
    background-repeat: no-repeat;
    height: 88px;
    width: 90px;
    margin-top: -90px;
    color: #FFF;
    font-weight: 900;
    font-size: 18px;
    text-align: left;
    margin-left: 0px;
    padding-top: 37px;
    padding-left: 17px;
}

#counter-numbers {
    padding-bottom: 8px;
}

.subdept_counter {
    background-image: url(../media/counter.png);
    background-repeat: no-repeat;
    padding-left: 10px;
    letter-spacing: 17px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
}

#subdept-text {
    background-color: #FFF;
}


/*updated PM */

.edecks {
    font-family: 'sari_blackregular';
    letter-spacing: -1px;
    font-size: 18px;
}

.box-shadow-general {
    box-shadow: 1px 1px 2px #ccc;
}

.bg_note {
    background-color: #F0FF00;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
    box-shadow: 1px 1px 2px #ccc;
}

#general-page-holder-contact h1 {
    letter-spacing: -1px;
    font-size: 32px !important;
    margin-top: -10px;
}

#general-page-holder-contact h3 {
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
}

#divOtherSites div {
    float: left;
    width: 250px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.department_title {
    font-family: 'sari_blackregular' !important;
    letter-spacing: -1px;
    font-weight: 100;
    font-size: 22px !important;
    color: #35353F !important;
    height: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.department_listing li {
    background-color: #fff !important
}

.department .ed_button {
    background-color: #FF8F00;
    color: #F0FF00
}

.department li table {
    background-color: #eee;
    margin-top: 2px;
    width: 100%;
    height: 167px;
}

.department .listing_info {
    padding-top: 15px;
    padding-left: 10px;
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: dotted 1px #CCC;
    height: 80px;
    color: #35353F
}

.title-holder {
    border: none;
    height: 20px;
    width: 100%;
    min-height: 60px;
    margin-top: 0;
    border-bottom: 1px solid #fff;
    box-shadow: 0 20px 20px -20px #ccc;
    margin: 0px auto 10px;
}

.department center {
    height: 181px;
    background-color: #fff
}

.department .ed_button_size1 {
    text-align: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #fce08d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce08d;
    box-shadow: inset 0px 1px 0px 0px #fce08d;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8c00), color-stop(1, #ff8c00));
    background: -moz-linear-gradient( center top, #ff8c00 5%, #ff8c00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8c00', endColorstr='#ff8c00');
    background-color: #ff8c00;
    -moz-border-radius: 2x;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #696969;
    display: inline-block;
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    white-space: nowrap;
}

.department .ed_button_size1:hover {
    text-align: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #fce08d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce08d;
    box-shadow: inset 0px 1px 0px 0px #c3f917;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9BBE29), color-stop(1, #9BBE29));
    background: -moz-linear-gradient( center top, #9BBE29 5%, #9BBE29 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9BBE29', endColorstr='#9BBE29');
    background-color: #9BBE29;
}

.department .er_button_size1 {
    text-align: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #FF8EB6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FF8EB6;
    box-shadow: inset 0px 1px 0px 0px #FF8EB6;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff327a), color-stop(1, #ff327a));
    background: -moz-linear-gradient( center top, #ff327a 5%, #ff327a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff327a', endColorstr='#ff327a');
    background-color: #ff327a;
    -moz-border-radius: 2x;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #696969;
    display: inline-block;
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    white-space: nowrap;
}

.department .er_button_size1:hover {
    text-align: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #7393AE;
    -webkit-box-shadow: inset 0px 1px 0px 0px #7393AE;
    box-shadow: inset 0px 1px 0px 0px #7393AE;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3E719C), color-stop(1, #3E719C));
    background: -moz-linear-gradient( center top, #3E719C 5%, #3E719C 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3E719C', endColorstr='#3E719C');
    background-color: #3E719C;
}

.department .image {
    max-height: 180px;
    overflow: hidden;
}

.ed_title_brand {
    width: 78px;
    height: 57px;
    float: right;
    margin-right: 50px;
    margin-top: -28px;
    background-image: url(../media/favicon_eD.png);
}

.er_title_brand {
    width: 78px;
    height: 57px;
    float: right;
    margin-right: 50px;
    margin-top: -28px;
    background-image: url(../media/favicon_eR.png);
}

.sub-department .side-title {
    color: #fff;
    font-family: 'Francois One', sans-serif !important;
    letter-spacing: -1px !important;
    font-size: 22px !important;
    margin-top: -31px;
    line-height: 26px;
    margin-bottom: 14px;
}

.sub-department .department-side-link {
    font-family: 'Francois One', sans-serif !important;
    letter-spacing: -1px !important;
    padding-top: 9px;
    padding-left: 5px;
}

.sub-department #department-counter {
    font-family: 'Francois One', sans-serif !important;
    letter-spacing: 0px !important;
    color: #999;
    padding-top: 7px;
    text-transform: uppercase;
}

.sub-department .department-counter-button {
    width: 15px;
}

.sub-department .department-side-navigation img {
    background-color: #ccc;
}

.sub-department .ed_title {
    font-family: 'sari_blackregular' !important;
    font-size: 32px !important;
}

.sub-department .ed_title {
    font-family: 'sari_blackregular' !important;
    font-size: 32px !important;
    line-height: 60px;
}

.sub-department .er_title {
    font-family: 'sari_blackregular' !important;
    font-size: 32px !important;
    line-height: 60px;
}

.sub-department .pager {
    font-family: 'Francois One', sans-serif !important;
    letter-spacing: 0px !important;
    color: #999;
    padding-top: 7px;
    text-transform: uppercase;
}

.sub-department .pager .ed_title_number {
    color: #ff8a00;
}

.sub_dept_side {
    background-color: #35353F;
    padding-top: 20px;
    border-top-right-radius: 20px;
}

.sub-department .ed_noteText {
    background-color: #F0FF00;
    font-family: 'Francois One', sans-serif !important;
    padding: 5px;
    color: #35353F;
}

.sub-department .er_noteText {
    background-color: #F0FF00;
    font-family: 'Francois One', sans-serif !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #35353F;
}

.breadcrumb {
    font-family: 'Francois One', sans-serif !important;
    overflow: hidden;
    height: 31px !important;
    letter-spacing: -0.5px !important;
}

.breadcrumb i {
    background-color: #FFFFFF !important;
    margin-right: 7px;
}

.breadcrumb li {
    margin-right: 0px !important;
}

.sub-department .lower {
    padding-top: 20px;
}

.sub-department li h3 {
    font-size: 18px !important;
    padding-top: 10px;
    height: 84px;
}

.sub-department .pricing {
    background-color: #FFFFFF;
    padding: 5px;
    box-shadow: 1px 1px 2px #ccc;
    margin-bottom: 15px;
}

.sub-department .discount-price {
    color: #3E719C !important;
}

.sub-department .ed_price-large {
    font-family: 'Francois One', sans-serif !important;
    text-transform: uppercase;
}

.sub-department .er_price-large {
    font-family: 'Francois One', sans-serif !important;
    text-transform: uppercase;
}

.sub-department .ed_pricing_price {
    font-family: 'sari_blackregular' !important;
}

.sub-department .er_pricing_price {
    font-family: 'sari_blackregular' !important;
}

.specials-ul li {
    height: 462px !important;
}

.sub-department .department-side-navigation a:hover {
    color: #3E719C !important;
}

.ed_title_department-counter-button {
    width: 20px;
    border: 1px solid #696969;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #fce08d inset;
    color: #ffffff;
    display: inline-block;
    font-family: arial;
    font-size: 9px;
    font-weight: bold;
    margin-right: 7px;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #783800;
    background-color: #FF8F00;
}

.er_title_department-counter-button {
    width: 20px;
    border: 1px solid #696969;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #FF82B8 inset;
    color: #ffffff;
    display: inline-block;
    font-family: arial;
    font-size: 9px;
    font-weight: bold;
    margin-right: 7px;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #5F0029;
    background-color: #FF006F;
}

.sean19_summer {
    width: 246px;
    height: 250px;
    position: absolute;
    background-image: url("../media/sean_Autumn_19.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -172px;
    z-index: 100000;
    margin-top: -44px;
}

.sean19_summer:hover {
    background-image: url("../media/sean_autumn19_3x.png");
}

.unit-type {
    font-size: 10px
}